{% extends 'layout.twig' %}

{% block body %}
    <h2 class="page-header">Dashboard</h2>
    <p>Welcome to your dashboard!</p>
{% endblock body %}


{% block scripts %}
    <script type="text/javascript" src="#"></script>
{% endblock scripts %}
