{% extends 'layout.twig' %}

{% block body %}
  <div class="container text-center">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>

        <img src="/public/img/clementine_150.png" />
        <br />
        <p class="clementine-text">Clementine.js</p>
    </div>
{% endblock %}
