{% extends 'layout.twig' %}

{% block body %}
<div class="container">
            <div class="google-profile">
                <p><i class="fa fa-google fa-4"></i></p>
                {% if user.local.email %}
                    {%set user = user.local %}
                {% endif %}
                {% if user.google.email %}
                    {%set user = user.google %}
                {% endif %}
                <p><span>Username: {{user.username}}</span></p>
                <p><span>Display Name: {{user.name}}</span></p>
                <p><span>Email: {{user.email}}</span></p>
            </div>
        </div>
    
{% endblock body %}
